

<div class="container">

<% if current_user %>
  <div class="row">
  <h1><%= "Hi "+ "#{current_user.name}"%></h1>
  <h4>  <%= link_to "Update Account", edit_user_path(current_user)%></h4>
</div>

    <% if  @current_user.items.all.size == 0 %>
            You have not created any items :(
            <p> <%=link_to "Make a post", new_item_path %></p>

      <% else %>
      <center>
            <h1>Here are your bits:</h1>
            <%@current_user.items.each do |item|%>

              <h3><%=link_to item.name, category_item_path(item.category_id, item.id) %>
                  <%=link_to "edit", edit_category_item_path(item.category_id,item.id) %></h3>
          <% end %>
        </center>
    <% end %>
</div>
    <% if @current_user.admin? %>

    <%@users.each do |user| %>
    <h2 ><%=link_to user.name, user_path(user)%></h2>
    <h4><%=link_to "Destroy user?", user, method: :delete,
      data: {confirm: "Are they a bad person?"}%></h4>
    <%user.items.each do |item|%>
    <h2><%=link_to item.name, category_item_path(item.category_id,item.id)%></h2>
    <h4><%=link_to "This item violates our rules", user, method: :delete,
                    data: {confirm: "are you sure?"}%></h4></ul>
    <% end %>
    <% end %>
    <%end%>
    <% else %>
  <center>
    <br>
    <hr>
    <br>
    <h2>
    <div class=square>
     <%= link_to 'Log In', login_path %></h2>   <h3> Or</h3>
    <h2>
    <%= link_to 'Sign Up', new_user_path %>
    </h2>
  </div>
    </center>
  <% end %>

</div>
