


<% if current_user %>

  <h1><%= "Hi "+ "#{current_user.name}"%></h1>
  <h4>  <%= link_to "Update Account", edit_user_path(current_user)%></h4>

    <% if  @current_user.items.all.size == 0 %>
            You have not created any items :(
            <p> <%=link_to "Make a post", new_item_path %></p>

      <% else %>
            Here are your bits!
            <%@current_user.items.each do |item|%>

              <p><%=link_to item.name, category_item_path(item.category_id,item.id) %>
                  <%=link_to "edit", edit_category_item_path(item.category_id,item.id) %></p>
          <% end %>
    <% end %>

    <% if @current_user.admin? %>

    <%@users.each do |user| %>
    <h2 ><%=link_to user.name, user_path(user)%></h2>
    <h4><%=link_to "Destroy user?", user, method: :delete,
      data: {confirm: "Are they a bad person?"}%></h4>
    <%user.items.each do |item|%>
    <h2><%=item.name%></h2>
    <h4><%=link_to "This item violates our rules", user, method: :delete,
                    data: {confirm: "are you sure?"}%></h4></ul>
    <% end %>
    <% end %>
    <%end%>
    <% else %>
  <center>
    <br>
    <hr>
    <br>
      <h2>
      Please <%= link_to 'Log In', login_path %>
      </h2>
      <h3> Or</h3>
      <h2>
      <%= link_to 'Sign Up', new_user_path %>
      </h2>
    </center>
  <% end %>
