<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= if current_user%>
  <%= current_user.name %> 
  <%= @user.name %>
  <%= @user.email %>
<%= time_ago_in_words(@user.created_at) %>
