

<h1><%="#{@user.name}"+" has been a member for "+"#{time_ago_in_words(@user.created_at)}"%></h1>

<% if @user.items.size !=0 %>

  <h2><%="Items "+"#{@user.name}"+ " has posted:"%></h2>


    <%@user.items.each do |item|%>

    <ul><%=link_to item.name, item_path(item.id)%>
       <%=item.state%>
       <%=item.city%></ul>
    <%end%>

<%else %>

<h2><%="#{@user.name}"+ "has not posted any items :("%></h2>




<%end%>
