	<%= form_for @item do |f| %>
	<h4>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</h4>
	<h4>
		<%= f.label :city %>
		<%= f.text_field :city %>
	</h4>
	<h4>
		<%= f.label :state %>
		<%= f.text_field :state %>
	</h4>
	<h4>
		<%= f.label :zipcode %>
		<%= f.text_field :zipcode %>
	</h4>

	<h4>
		<%= f.label :description %>
		<%= f.text_area :description,  cols: 40, rows: 4 %>
	</h4>
	<h4>
		<%= f.label :Category %>

		<%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: false %>
</h4>
<h4>
		<%= f.label :phone_number %>

		<%= text_field :phone_number, nil, :maxlength => 10, :size => 10%>
	</h4>
  <h4>
		<%= f.label :price %>
		<%= f.text_field :price %>
	</h4>
	<h4>
	<%= f.submit %>
</h4>

<% end %>
