<div class="container">


  <h2>
    <%= @item.name %>
  </h2>
    <br>
    <h4><%= @item.state %> <%= @item.city %></h4>
    <br>
  <div id="googleMap" style="width:80vw;height:20vw;"></div>


  <div class="row">
    <i class="fa fa-usd"></i>
      <%= number_with_precision @dollar_amount=@rate*@item.price, :precision => 2 %>
      <i class="fa fa-btc"></i>
        <%= number_with_precision @item.price.to_f, :precision => 2%>










  <% if @item.image? %>
  <%= image_tag @item.image.url(:large) %>
  <% end %>

  <div class="row">
  <i class="fa fa-phone"></i>

    <%= @item.phone_number %>
  </div>



  <br>
  <br>
  <br>

  <div class="row">


  <i class="fa fa-info-circle"> </i>
   <%= @item.description %> </p>
 </div>

  <% if @item.user_id !=nil %>
  Posted by  <%= link_to @user.name, user_path(@item.user_id)%>
  <% end %>
    <%=time_ago_in_words(@item.created_at)%>
  <%=link_to "Back to #{@category.name}", "/categories/#{@category.name}"%>





  <br>
  <br>


  <% if current_user != nil && current_user.id == @item.user_id %>

  <%= link_to 'Edit', edit_category_item_path %>
  <%#= link_to 'Delete', edit_category_item_path %>
  <%= link_to 'Delete', item_path,
  method: :delete,
  data: { confirm: 'Are you sure?' } %></td>
  </td>


  <%end  %>
</div>
</div>
