
<h1>
Items Show
    <%= @item.name %>

</h1>

<h2>
  <i class="fa fa-map-marker"></i>
  <%= @item.location %>
</h2>
<h3>

  <%= number_with_precision @item.price, :precision => 2 %>
      <i class="fa fa-btc"></i>
<p>  <i class="fa fa-phone"></i>
  <%= @item.phone_number %>
      </p>
      <i class="fa fa-info-circle"></i>
<p>  <%= @item.description %></p>
<p>  <%=time_ago_in_words(@item.created_at)%>
</h3>

<br>
<%#= link_to 'Edit', edit_category_item_path(@item.category,@item.name, @item.id) %></td>
<p>
  <%#=link_to"back to category", category_path(name =@category.id)%><p>
