
<h1>
Items Show
    <%= @item[0].name %>
</h1>

<h2>
  <i class="fa fa-map-marker"></i>
  <%= @item[0].location %>
</h2>
<h3>

  <%= number_with_precision @item[0].price, :precision => 2 %>
      <i class="fa fa-btc"></i>
<p>  <i class="fa fa-phone"></i>
  <%= @item[0].phone_number %>
      </p>
      <i class="fa fa-info-circle"></i>
<p>  <%= @item[0].description %></p>
<p>  <%=time_ago_in_words(@item[0].created_at)%>
</h3>

<br>


<p>
  <%= link_to "See all #{params[:category_name]}", category_by_id_path(params[:category_name])  %>
</p>
