
<h1>
Items Show
    <%= @item.name %>
    <%#= @rate %>

  <%#= @item.user_id %>
</h1>

<h2>

  <i class="fa fa-map-marker"></i>



  <!-- <div id="address-map" style="width: 100%; height: 400px;"></div> -->


  <div id="googleMap" style="width:800px;height:380px;"></div>
    <%#= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@item.latitude}%2C#{@item.longitude}" %>
</div>
</h2>
<h3>

  <%= number_with_precision @item.price.to_f, :precision => 2 %>

    <i class="fa fa-btc"></i>

    <p> <%= number_with_precision @dollar_amount=@rate*@item.price, :precision => 2 %>
      <i class="fa fa-usd"></i></p>
<p>  <i class="fa fa-phone"></i>

        <% if @item.image? %>
<%= image_tag @item.image.url(:large) %>
        <% end %>
<p>  <%= @item.phone_number %><p>
  <p>   <%= @item.city %><p>
  <%= @item.state %>
  <%= @item.zipcode %>
      </p>

      <i class="fa fa-info-circle"></i>
<p>  <%= @item.description %></p>
      <% if @item.user_id !=nil %>
        Posted by <%= @user.name%>
        <% end %>
<p>  <%=time_ago_in_words(@item.created_at)%>



</h3>


<br>


<% if current_user != nil && current_user.id == @item.user_id %>

<%= link_to 'Edit', edit_category_item_path %>
<%#= link_to 'Delete', edit_category_item_path %>
<%= link_to 'Delete', item_path,
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
</td>
<p>
  <%=link_to "Back to #{@category.name}", "/categories/#{@category.name}"%>
<%end  %>
