
<h1>
Items Show
    <%= @item[0].name %>
</h1>

<h2>
  <%= @item[0].location %>
</h2>
<h3>

  <%= number_with_precision @item[0].price, :precision => 2 %>
      <i class="fa fa-btc"></i>
<p>  <%= @item[0].phone_number %></p>
<p>  <%= @item[0].description %></p>
</h3>
<br>

<p>
  <%= link_to "See All", category_by_id_path(@item[0].category_id)  %>
</p>
