
<h1>
Items Show
    <%= @item.name %>
    <%= @rate %>

  <%#= @item.user_id %>
</h1>

<h2>
  <i class="fa fa-map-marker"></i>
  <%= @item.location %>
</h2>
<h3>

  <%= number_with_precision @item.price.to_f, :precision => 2 %>

    <i class="fa fa-btc"></i>

    <p> <%= number_with_precision @dollar_amount=@rate*@item.price, :precision => 2 %>
      <i class="fa fa-usd"></i></p>
<p>  <i class="fa fa-phone"></i>
  <%= @item.phone_number %>
      </p>
      <i class="fa fa-info-circle"></i>
<p>  <%= @item.description %></p>
<p>  <%=time_ago_in_words(@item.created_at)%>
  Posted by <%= @user.name %>
</h3>

<br>



<%= link_to 'Edit', edit_category_item_path %>
<%#= link_to 'Delete', edit_category_item_path %>
<%= link_to 'Delete', item_path,
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
</td>
<p>
  <%=link_to "Back to #{@category.name}", "/categories/#{@category.name}"%>
