
<p>Find me in app/views/categories/index.html.erb</p>

<%= form_tag search_items_path, method: :get do |f| %>
<%= text_field_tag :search, nil, placeholder: 'search' %>
<%= text_field_tag :location, nil, placeholder: 'near' %>

<%= submit_tag ">" %>
<% end %>

		<% @categories.each do |category|%>

<ul>
  <h2>
	<p><%=link_to category.name, category_path(category.name) %><p></h2>
</ul>
		<%end%>
