
<div class="class-col-md-8">
  <h1><%=@category.name%>
  </h1>
  <h2>
    <%=link_to " All categories", root_path, class:'h4'%>
  </h2>
  <center>
    <div class="container index">
			<div class="col-md-12">

  <div class="col-md-12">
    <%@category.items.each_slice(2) do |slice|%>

  <% slice.each do |item| %>
  <div class="row">
  <h1>
    <div class="col-md-6">
        <p><%=link_to item.name, category_item_path(@category.name, item.id)%></div>
        </P>
  <h1>
    <div class="row">
      <h4><%= item.city %>
      <%= item.zipcode %></h4>
    </div>
  <%end%>
  </div>
  <%end%>
</div>
</div>
</div>

</center>
</div>
