<h1><%=@category.name%></h1>

<%@category.items.each do |item|%>
<ul>
  <h2>
    <p><hr><%=link_to item.name, category_item_path(@category.name, item.id)%>
            <%= item.city %>
            <%= item.zipcode %>
    </p></br>
  </h2>
</ul>
  <%end%>
  <%=link_to "All categories", root_path%>
