<!DOCTYPE html>
<html>
<head>
  <title>Bitlist.org</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon-bitcoin.ico' %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body><header>
    <nav class="navbar navbar-inverse navbar-static-top">
        <ul class="nav navbar-nav">
          <%= form_tag search_items_path, method: :get do |f| %>
          <%= text_field_tag :search, nil, placeholder: 'search' %>
          <%= text_field_tag :location, nil, placeholder: 'near' %>
          <%= submit_tag "search" %>
          <% end %>

          <li>

            <div id="pay-with-btc"

                <div id="shine"></div>
                <div id="logo">
                  <div id="coin">
                    <center>

                      <%= link_to "", root_path, class: 'fa fa-btc b' %>



                    </center>
                  </div>
                  <div class="logo-text"><%= link_to "Bitlist", root_path %></div>


                </div>
                <div class="accept" id="logo"></div>
              </a>
            </div>

          </li>

                    <li><%= link_to "About", static_pages_about_path%></li>
                 <li><%= link_to "Post Item", new_item_path %></li>
                 <% if current_user%>
                 <li><%= link_to current_user.name + "'s Account",users_path%></li>
                 <% else %>
                  <li><%= link_to "Account", users_path %></li>
                   <% end %>

                 <li> <% if current_user %>
                 <%= link_to 'Log Out', logout_path, method: :delete %></li>
                  <% end %>




            <!-- Example HTML for a bootstrap dropdown -->
            <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li> -->
        </ul>
    </nav>
</header>
<div class="container">

  <%#= params %>


  <script>
    $('#flash').hide().delay(800).fadeIn(800).delay(4000).fadeOut(800)
  </script>
    <% if flash[:error] %>
        <%#= flash.inspect %>
      <% flash.each do |error, message| %>
        <div class="alert alert-danger" role="alert" id="flash" ><% error %><%= message %></div>
      <% end %>
    <% end %>

    <% if flash[:notice] %>
      <% flash.each do |notice, message| %>
      <div class="alert alert-info" id="flash" role="alert"><%= flash[:notice] %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>

</div>

</body>
</html>
